.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.prev {
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  border: 1px solid var(--departure-black);
  color: var(--departure-black);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.prev:hover {
  background: var(--departure-black);
  color: var(--white);
}

.next {
  width: 46px;
  height: 46px;
  background: var(--departure-black);
  color: var(--white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next:hover {
  background: var(--compass-red);
}
